<html> 
  <body>
    <p>New Customer Added</p> 
    First name:<%= @subscription.user.first_name %>
    Last name:<%= @subscription.user.last_name %>
    Email:<%= @subscription.billing_email %>
  </body>
</html>