<% provide(:title, 'Select a Plan') %>
<div id="welcome" class="hero-unit span7">
  <h1>Select a Plan</h1>
</div>
<div class="col-md-12 plans">
  <div class="col-md-4 well">
    <div class="plan"><h2>Solo</h2></div>
    <ul class="unstyled">
      <li>Up to 2 users</li>
      <li>Unlimited Clients</li>
      <li>Unlimited Invoices</li>
    </ul>
    <h3>$9/month</h3>
    <%= link_to 'Start Free Trial', update_change_plan_path(:plan => '1'), :class => 'btn btn-primary' %> 
  </div>
  <div class="col-md-4 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>Up to 10 users</li>
      <li>Unlimited Clients</li>
      <li>Unlimited Invoices</li>
    </ul>
    <h3>$19/month</h3>
    <%= link_to 'Start Free Trial', update_change_plan_path(:plan => '2'), :class => 'btn btn-primary' %> 
  </div>
  <div class="col-md-4 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>Up to 20 users</li>
      <li>Unlimited Clients</li>
      <li>Unlimited Invoices</li>
    </ul>
    <h3>$29/month</h3>
    <%= link_to 'Start Free Trial', update_change_plan_path(:plan => '3'), :class => 'btn btn-primary' %> 
  </div>
</div>